/* This line of code removes the bulletpoints, margins and padding from the list */
ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkmagenta;
    
}

#site-heading {
    float: left;
    color: rgba(255, 255, 255, 0.82);
    padding-left: 20px;

}

#about,
#packages,
#contact-link {
    float: right;
    font-weight: bold;
}

#about {
    padding-right: 30px;
}

a.nav-bar-link {
    display: block;
    padding: 8px;
    margin: 1px;
    background-color: magenta;
    opacity: 0.7;
    position: relative;
    top: 15px;
    right: 10px;
    text-decoration: none;
    color: purple;
}

header {
    width: 100%;
    background-color: darkmagenta;
    position: fixed;
    top: 0px;
}

/* nav bar done up to this point*/

/* Rest of the body continues from this point*/

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 350px;
    height: 250px;
}

body {
    background-color:lavender;
    line-height: 1.5;

}

#contact-form {
    float: right;
    width: 35%;
    position: absolute;
    left: 800px;
    top: 320px;
    display: inline;
    background-color:blueviolet ;
    padding: 20px 10px 0px 10px;
}

ul.form-fields {
    list-style-type: none;
    color: rgb(238, 224, 238);
}

h4 {
    color:rgb(238, 224, 238);
    text-align: center;
}

.button-container {
    text-align: center;
}

#main-section {
    padding-top: 70px;
    width: 60%;
    padding-left: 30px;
}

#main-section2 {
    width: 60%;
    padding-left: 30px;
}

#tag-line {
    font-style: italic;
    color:purple;
}

#image-container {
    padding-left: 30px;
}


footer {
    width: 100%;
    background-color: darkmagenta;
    float: right;

    
}

ul.foot-bar {
    list-style-type: none;
    float: right;
    color: white;
    padding-right: 30px;
}

/*
header {
    width: 100%;
    background-color: darkmagenta;
    display: block;
}
*/

/*
#about {
    display: inline;
    text-align: right;
    padding-left: 10px;
    position: relative;
    left: 1000px;
}

#packages {
    display: inline;
    text-align: left;
    padding-left: 10px;
    position: relative;
    left: 750px;
}

#contact-link {
    display: inline;
    float: right;
    padding-left: 10px;
}
*/
